doctype html5
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel='stylesheet' href='/css/ah-tm.tags.css')
        link(rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css")
        link(rel='stylesheet' href='/css/ah-tm.login.css')
        link(rel="stylesheet" href="/bower_components/material-design-icons/iconfont/material-icons.css")




    body(ng-app="login" ng-controller="LoginCtrl").icons-docs
        div(id="loading")
                        
        header.md-page-header
            div.header
            md-toolbar.header.fixed(layout='row')
                h1.logo.md-toolbar-tools
                    if custom && custom.logo && custom.logo.enable
                        img(src=custom.logo.header class="ah-logo")
                    else
                        img(src="/images/logo_w.png" alt="Aerohive")
                span(flex)
                
                div(style="display:flex; padding-right: 20px")
                    md-menu(style="margin: auto;")
                        md-button(aria-label="language" ng-click="openMenu($mdOpenMenu, $event)" style="min-width: 20px;")
                            md-tooltip(md-direction="bottom" md-visible="tooltipVisible") {{"language" | translate}}
                            md-icon(class="material-icons" aria-label="language") language
                        if ! custom || ! custom.login || ! custom.login.enable
                            md-menu-content
                                md-menu-item
                                    md-button(ng-click="translate('en')")
                                        span(style="display: inline-flex; margin-right: 5px;")
                                            div.iti-flag.gb
                                        span English
                                md-menu-item
                                    md-button(ng-click="translate('fr')")
                                        span(style="display: inline-flex; margin-right: 5px;")
                                            div.iti-flag.fr
                                        span Francais                                
        div.page-footer
            span © 2016 Aerohive Networks. All Rights Reserved.

            md-button(aria-label="settings" href=oauthUrl style="margin: auto; display: inline-flex;")   
                md-tooltip(md-direction="top" md-visible="tooltipVisible") {{"settings" | translate}}                     
                md-icon(class="material-icons" aria-label="menu") settings


        div(layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="center start")

            div.panel(style="max-width: 450px; width: 100%;")
                div.inside(md-whiteframe="5" style="width: 100%" )
                    md-toolbar
                        div.md-toolbar-tools
                            if custom && custom.login && custom.login.enable
                                h2=custom.login.title
                            else
                               h2(translate="login.title")
                    md-content(layout="column" layout-padding)
                        div.ah-logo(style="margin: auto; width: 100%; text-align: center;")
                            if custom && custom.logo && custom.logo.enable
                                img(src=custom.logo.login alt="Aerohive" class="ah-logo" style="text-align:center; margin: auto;")
                            else
                                img(src="/images/logo.png" alt="Aerohive" class="ah-logo" style="text-align:center; margin: auto;")  
                        if method                        
                            if custom && custom.login && custom.login.enable
                                div=custom.login.text
                            else                          
                                div(translate="login.instruction")
                            br                    
                            md-button.md-raised.md-primary(href=method translate="login.connect" aria-label="connect" style="margin: auto; width: 90%; max-width: 450px; margin-bottom: 10px;")
                        else 
                            div Something went wrong. It seems that something is misconfigured...


    script(type="text/javascript").
        function fadeIn(element){  
            var i = 1;
            var f = 0.5;  
            setTimeout(function(){
                element.style.opacity = parseFloat(element.style.opacity) - (f * i * i);
                i++;
                if (element.style.opacity < 0 || i > 50) element.parentNode.removeChild(element);
                else fadeIn(element);
                }, 40);
        }
        document.addEventListener("DOMContentLoaded", function(event) {
            var element = document.getElementById("loading"); 
            element.style.opacity = 1.0;                
            fadeIn(element);
        });
    script(src="/i18n/login/en.js")
    script(src="/i18n/login/fr.js")
    script(src="/custom/colors")
    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/angular-aria/angular-aria.js")
    script(src="/bower_components/angular-animate/angular-animate.min.js")
    script(src="/bower_components/angular-material/angular-material.js")
    script(src="/bower_components/angular-messages/angular-messages.js")
    script(src="/bower_components/angular-route/angular-route.min.js")
    script(src="/bower_components/angular-messages/angular-messages.js")
    script(src="/bower_components/angular-translate/angular-translate.min.js")
    script(src="/bower_components/angular-sanitize/angular-sanitize.min.js")
    script(src="/web-app/login.js")