doctype html
html
    head
        title= title
        // [if IE]
        meta(http-equiv="X-UA-Compatible" content="IE=10; IE=EDGE")
        // [endif]
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel='stylesheet' href='/css/ah-tm.tags.css')
        link(rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css")
        link(rel='stylesheet' href='/css/ah-tm.login.css')
        link(rel="stylesheet" href="/bower_components/material-design-icons/iconfont/material-icons.css")

        script(type="text/javascript").
            function fadeIn(element){  
                var i = 1;
                var f = 0.5;  
                setTimeout(function(){
                    element.style.opacity = parseFloat(element.style.opacity) - (f * i * i);
                    i++;
                    if (element.style.opacity < 0 || i > 50) element.parentNode.removeChild(element);
                    else fadeIn(element);
                    }, 40);
            }
            document.addEventListener("DOMContentLoaded", function(event) {
                var element = document.getElementById("loading"); 
                element.style.opacity = 1.0;                
                fadeIn(element);
            });
    body(ng-app="error" ng-controller="ErrorCtrl").icons-docs
        div(id="loading")
                        
        header.md-page-header
            div.header
            md-toolbar.header.fixed(layout='row')
                h1.logo.md-toolbar-tools
                    if custom && custom.logo && custom.logo.enable
                        img(src=custom.logo.header class="ah-logo")
                    else
                        img(src="/images/logo_w.png" alt="Aerohive")
                span(flex)
                
                div(style="display:flex; padding-right: 20px")
                              
        div.page-footer
            span © 2017 Aerohive Networks. All Rights Reserved.

        div(layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="center start")

            div.panel(style="max-width: 450px; width: 100%;")
                div.inside(md-whiteframe="5" style="width: 100%" )
                    md-toolbar
                        div.md-toolbar-tools
                            h2(translate="error.title" style="text-transform: uppercase;")
                    md-content(layout="column" layout-padding)
                        div.ah-logo(style="margin: auto; width: 100%; text-align: center;")
                            if custom && custom.logo && custom.logo.enable
                                img(src=custom.logo.login alt="Aerohive" class="ah-logo" style="text-align:center; margin: auto;")
                            else
                                img(src="/images/logo.png" alt="Aerohive" class="ah-logo" style="text-align:center; margin: auto;")  
                        
                        div(style="text-align: center;")
                            span(translate="error.unauthorized" style="color:#e60000; font-size: 36px;")
                        br
                        div(layout="row")
                            md-icon(class="material-icons" aria-label="language" style="color: #e60000;font-size: 36px;margin: 0 20px 0 0;") error_outline
                            if exeption == "external"
                                span(translate="error.external" translate-value-user=user)
                            else if exeption == "memberOf"
                                span(translate="error.memberOf" translate-value-user=user)
                            else if exeption == "license"
                                span(translate="error.license" translate-value-user=user)
                            else if exeption == "permissions"
                                span(translate="error.permissions")
                        br                    
                        md-button.md-raised.md-primary(href="/logout" translate="error.logout" aria-label="logout" style="margin: auto; width: 90%; max-width: 450px; margin-bottom: 10px;")
                        

    script(src="/i18n/error/en.js")
    script(src="/i18n/error/fr.js")
    script(src="/i18n/error/nl.js")
    script(src="/custom/colors")
    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/angular-aria/angular-aria.js")
    script(src="/bower_components/angular-animate/angular-animate.min.js")
    script(src="/bower_components/angular-material/angular-material.js")
    script(src="/bower_components/angular-messages/angular-messages.js")
    script(src="/bower_components/angular-route/angular-route.min.js")
    script(src="/bower_components/angular-messages/angular-messages.js")
    script(src="/bower_components/angular-translate/angular-translate.min.js")
    script(src="/bower_components/angular-sanitize/angular-sanitize.min.js")
    script(src="/web-app/error.js")

