doctype html
html
    head
        title= title
        // [if IE]
        meta(http-equiv="X-UA-Compatible" content="IE=10; IE=EDGE")
        // [endif]
        meta(name="viewport" content="width=device-width, initial-scale=1")
        
        link(rel="stylesheet" href="/bower_components/intl-tel-input/build/css/intlTelInput.css")
        link(rel="stylesheet" href="/bower_components/material-design-icons/iconfont/material-icons.css")
        link(rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css")
        link(rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css")
        link(rel='stylesheet' href='/css/ah-tm.dashboard.css')
        link(rel='stylesheet' href='/css/ah-tm.tags.css')
        link(rel='stylesheet' href='/css/ah-tm.cards.css')
        link(rel='stylesheet' href='/css/ah-tm.md-table.css')
        link(rel='stylesheet' href='/css/ah-tm.md-list.css')
        link(rel='stylesheet' href='/css/ah-tm.header.css')
        
        script(type="text/javascript").
            function fadeIn(element){  
                var i = 1;
                var f = 0.5;  
                setTimeout(function(){
                    element.style.opacity = parseFloat(element.style.opacity) - (f * i * i);
                    i++;
                    if (element.style.opacity < 0 || i > 50) element.parentNode.removeChild(element);
                    else fadeIn(element);
                    }, 40);
            }
            document.addEventListener("DOMContentLoaded", function(event) {
                var element = document.getElementById("loading"); 
                element.style.opacity = 1.0;                
                fadeIn(element);
            });

    body(ng-app="gak" ng-controller="AppCtrl").icons-docs
        div(id="loading")
        header.md-page-header
            div.header
            md-toolbar.header.fixed(layout='row')
                h1.logo.md-toolbar-tools
                    if custom && custom.logo && custom.logo.enable
                        img(src=custom.logo.header class="ah-logo")
                    else
                        img(src="/images/logo_w.png" alt="Aerohive")
                span(flex)
                div(style="display:flex; padding-right: 20px")
                    if ! custom || ! custom.app || ! custom.app.enable
                        md-menu(style="margin: auto;")
                            md-button(aria-label="language" ng-click="openMenu($mdOpenMenu, $event)" style="min-width: 20px;")
                                md-tooltip(md-direction="bottom" md-visible="tooltipVisible") {{"language" | translate}}
                                md-icon(class="material-icons" aria-label="language") language
                            md-menu-content
                                md-menu-item
                                    md-button(ng-click="translate('en')")
                                        span(style="display: inline-flex; margin-right: 5px;")
                                            div.iti-flag.gb
                                        span English
                                md-menu-item
                                    md-button(ng-click="translate('fr')")
                                        span(style="display: inline-flex; margin-right: 5px;")
                                            div.iti-flag.fr
                                        span Francais                                
                    md-button(aria-label="logout" href="/logout/" style="margin: auto;")                        
                        md-icon(class="material-icons" aria-label="menu") exit_to_app
                        span {{"logout" | translate}}

            
        div(id="main")
            md-content.panel(md-whiteframe="7" layout="column")
                md-toolbar.md-hue-2
                    div.md-toolbar-tools 
                        if custom && custom.app && custom.app.enable
                            h2=custom.app.title
                        else
                            h2(translate="title")
                div(ng-hide="isWorking" style="background-color: #{{color}}; height: 5px; width: 100%")
                md-progress-linear(ng-show="isWorking" md-mode="indeterminate" class="md-accent")
                md-content(style="padding: 0 40px 10px 40px" )                
                    md-list.flex
                        md-subheader.md-no-sticky 
                            if custom && custom.app && custom.app.enable
                                h2=custom.app.text
                            else
                                h2(translate="header")
                        md-divider
                        if custom && custom.app && custom.app.enable
                            for row in custom.app.rows
                                md-list-item 
                                    i.material-icons.md-avatar-icon(style="min-width: 25px;")=row.icon
                                    div.md-list-item-text(layout="column")                        
                                        span=row.text
                                md-divider
                        else
                            md-list-item 
                                i.material-icons.md-avatar-icon(style="min-width: 25px;") business
                                div.md-list-item-text(layout="column")                        
                                    span(translate="one")
                            md-divider
                            md-list-item       
                                i.material-icons.md-avatar-icon(style="min-width: 25px;") fingerprint
                                div.md-list-item-text(layout="column")
                                    span(translate="two")
                            md-divider
                            md-list-item       
                                i.material-icons.md-avatar-icon(style="min-width: 25px;") block
                                div.md-list-item-text(layout="column")
                                    span(translate="three")
                            md-divider
                            md-list-item     
                                i.material-icons.md-avatar-icon(style="min-width: 25px;") recent_actors  
                                div.md-list-item-text(layout="column")
                                    span(translate="four")
                            md-divider
                            md-list-item       
                                i.material-icons.md-avatar-icon(style="min-width: 25px;") vpn_key
                                div.md-list-item-text(layout="column")
                                    span(translate="five")
                            md-divider
                            md-list-item       
                                i.material-icons.md-avatar-icon(style="min-width: 25px;") cloud_done
                                div.md-list-item-text(layout="column")
                                    span(translate="six")
                            md-divider
                    br                
                    md-content(layout="column" layout-gt-sm="row")
                        md-button.md-primary.md-raised(ng-disabled="isWorking || keyExists" ng-click="getMyKey()" translate="get" aria-label="get") 
                        md-button.md-primary.md-raised(ng-disabled="isWorking || !keyExists" translate="sendByEmail" ng-click="deliverByEmail()" aria-label="sendByEmail") 
                        md-button.md-primary.md-raised(ng-disabled="isWorking || !keyExists" translate="sendBySMS" ng-click="deliverBySMS()" aria-label="sendBySMS") 
                        md-button.md-primary(ng-disabled="isWorking || !keyExists" translate="revoke" ng-click="revoke()" aria-label="revoke") 


        script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src="/bower_components/angular/angular.min.js")

        script(src="/i18n/web-app/en.js")
        script(src="/i18n/web-app/fr.js")
        script(src="/i18n/web-app/nl.js")
        
        script(src="/custom/colors")
        script(src="/custom/country")


        script(src="/bower_components/angular-aria/angular-aria.js")
        script(src="/bower_components/angular-animate/angular-animate.min.js")
        script(src="/bower_components/angular-material/angular-material.js")
        script(src="/bower_components/angular-messages/angular-messages.js")
        script(src="/bower_components/angular-route/angular-route.min.js")
        script(src="/bower_components/angular-bootstrap/ui-bootstrap.js")
        script(src="/bower_components/angular-translate/angular-translate.min.js")
        script(src="/bower_components/angular-sanitize/angular-sanitize.min.js")
        script(src="/bower_components/intl-tel-input/build/js/intlTelInput.min.js")
        script(src="/bower_components/intl-tel-input/build/js/utils.js")
        script(src="/bower_components/ng-intl-tel-input/dist/ng-intl-tel-input.min.js")
        script(src="/web-app/app.js")
        script(src="/web-app/filters.js")
        script(src="/web-app/modals/controller.js")